body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* MAIN GAME SCREEN */

.theGame {
    background-image: url(https://wallpaperplay.com/walls/full/4/a/7/330263.jpg);
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
}

#score {
    color: white;
    font-size: 2vh;
    margin-top: 6vh;
    position: absolute;
    border: 0.4vh solid white;
    padding: 3vh;
    font-family: 'Roboto Mono', monospace;
    left: 70%;
}

#score:hover {
    color: red;
    font-family: 'Roboto Mono', monospace;
    border: 0.2vh solid red;
}

.card {
    border: 2px solid white;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 17vh;
    width: 10vw;
    margin: 1em;
}

.card:hover {
    border-radius: 50%;
}

.row, .middle, .advanced {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-items: center;
}

#gameSquare {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-direction: row;
    margin-top: 10em;
    height: 100%;
}

.theGame#memoryGame #theNavBar {
    top: 3em;
    display: block;
    text-align: center;
    width: 20rem;
}

#newGame {
    background-color: black;
    border: none;
    margin-top: 4vh;
    justify-content: right;
    display: flex;
    position: absolute;
    left: 45%;
}

#newGame:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* WINNER MODAL */

#myModel {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    top: 20%;
}

.close {
    
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 0;
    border: 1px solid black;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

#winnerSuperhero {
    transition: all 800ms ease-in-out;
}

#winnerSuperhero h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vh;
    color: white;
}

#winnerSuperhero:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: none;
    padding: 15px;
}

#pro, #intermediate, #beginner {
    display: flex;
    top: 20vh;
}

/* OPENING PAGE */

#themeQuestion {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vh;
    color: white;
    text-align: center;
    top: 50%;
    left: 10%;
    position: relative;
    border: 2px solid white;
    padding: 1em;
}

#openingBlock {
    height: 100%;
    margin: 0;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    position: fixed;
    z-index: 1000000;
    background-image: url(../images/marvelWelcome.jpg);
}

#openingBlock img {
    top: 30%;
    left: 70%;
    position: absolute;
    opacity: 0.7;
}

.levelChoice {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    position: relative;
    top: 50vh;
    left: 45%;
    background-color: maroon;
    border: 2px solid white;
    margin: 2rem;
}

.levelChoice:hover {
    opacity: 0.5;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* ANIMATION KEYFRAMES */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* ADJUSTMENTS FOR RESPONSIVENESS */

#gameSquare #newGameSmall {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .card {
        height: 10vh;
        width: 15vw;
        margin: 0.5rem;
        z-index: 5;
        
    }
    .theGame {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: fixed;
        top: 100%;
        overflow: hidden;
        height: 100%;
        margin: 0;
    }
    #myModal {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 90vh;
        overflow-x: hidden;
        position: fixed;
        top: 100%;
        overflow: hidden;
        height: 60%;
    }
   
    #newGame {
        display: none;
    }
    #pro, #intermediate, #beginner {
        display: absolute;
        top: 0;
    }
    #gameSquare {       
        margin-top: 3rem;

    }
    #gameSquare #newGameSmall {
        display: block;
        position: absolute;
        left: 1rem;
    }

    #score {
        background-color: rgba(255, 255, 255, 0.2);
        position: fixed;
        font-size: 1vh;
        margin: 1rem;
        padding: 1vh;
    }
}

@media only screen and (max-width: 800px) {
    #openingBlock img {
        left: 30%
    }
    .levelChoice {
        left: 5%;
        margin: 0;
    }
}